/* Estilos globais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Estilo para o banner de promoção */
.promotion-banner {
  background-color: #4CAF50; /* Cor verde vibrante */
  color: #ffffff;
  text-align: center;
  padding: 5px;
}

.promotion-banner p {
  font-size: 18px;
  line-height: 1;
  margin: 0;
}

/* Botão de fechar */
.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ffcccc; /* Cor do ícone alterada ao passar o mouse */
}

/* Estilos do header */
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #5f27cd, #341f97);
  color: #fff;
  padding: 20px 20px; /* Aumente esses valores para aumentar a altura */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: background-color 0.3s ease; /* Transição suave para o background do header */
}


.header:hover {
  background-color: #512da8; /* Cor de background alterada quando o mouse passa sobre o header */
}

/* Estilos do logo */
.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

/* Estilos da barra de pesquisa */
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  flex: 1;
  margin: 0 20px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  background: transparent;
  color: #fff;
}

.search-bar button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

/* Estilos da navegação do site */
.navigation {
  display: flex;
  align-items: center;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  position: relative;
  margin-left: 20px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navigation a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #f39c12;
  transition: width 0.2s ease;
}

.navigation a:hover {
  color: #f39c12;
}

.navigation a:hover::before {
  width: 100%;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  min-width: 150px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navigation li:hover .dropdown {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown li {
  padding: 10px;
}

.dropdown a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

/* Estilos das ações do usuário */
.user-actions a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 16px;
}

/* Classe para texto adicional do carrinho, oculto visualmente mas acessível para leitores de tela */

#favorite-link {
  margin-left: 0px; /* Ajuste o valor conforme necessário */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.login-btn {
  background-color: #5f27cd;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #341f97;
}

/* Estilos específicos para a seção de produtos */
.product-section {
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-list .product {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-list .product:hover {
  transform: scale(1.05);
}

.product-list .product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-list .product img:hover {
  transform: scale(1.1);
}

.product-list .product h3 {
  font-size: 18px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.product-list .product h3:hover {
  color: #f39c12;
}

.product-list .product p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.product-list .product p:hover {
  color: #f39c12;
}

.product-list .product .price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.product-list .product .price:hover {
  color: #f39c12;
}

.product-list .product button {
  background-color: #5f27cd;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.product-list .product button:hover {
  background-color: #341f97;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos da promoção */
.product .promotion {
  background-color: #f39c12;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Estilos da Seção de Depoimentos */
.testimonials {
  /* Estilos da seção de depoimentos */
  padding: 50px 0;
  text-align: center;
  background: linear-gradient(90deg, #5f27cd, #341f97);
  color: #fff; /* Definindo a cor branca para o texto dentro da seção de depoimentos */
}

.testimonials h2 {
  /* Estilos do título da seção de depoimentos */
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff; /* Definindo a cor branca para o texto dentro da seção de depoimentos */
}

.average-rating {
  /* Estilos da classificação média */
  font-size: 18px;
}

/* Estilo dos Depoimentos */
.testimonial-card {
  /* Estilos dos cartões de depoimento */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  max-width: 400px;
  width: 100%;
}

.testimonial-card:hover {
  /* Efeito de elevação ao passar o mouse sobre o cartão de depoimento */
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.testimonial-content {
  /* Estilos do conteúdo do depoimento */
  padding: 20px;
  color: #333;
}

.rating {
  /* Estilos da classificação do depoimento */
  background-color: #f39c12;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.customer-name {
  /* Estilos do nome do cliente */
  font-weight: bold;
  color: #333;
}

.testimonial-date {
  /* Estilos da data do depoimento */
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

/* Estilos da Setas para Navegação dos Depoimentos */
.testimonial-navigation {
  /* Estilos para a navegação dos depoimentos */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.prev-testimonial,
.next-testimonial {
  /* Estilos para as setas "Anterior" e "Próximo" */
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
}

/* Estilos da seção de newsletter */
.newsletter {
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(90deg, #f39c12, #e74c3c);
  color: #fff;
  border-radius: none;
}

.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter input[type="email"] {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  border: 2px solid #fff;
  border-radius: 20px;
  outline: none;
  color: #333;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.newsletter input[type="email"]:focus {
  border-color: #f39c12;
}

.newsletter button[type="submit"] {
  background-color: #fff;
  color: #f39c12;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
}

.newsletter button[type="submit"]:hover {
  background-color: #f39c12;
  color: #fff;
  transform: scale(1.05);
}

/* Estilos dos ícones sociais */
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 18px;
}

/* Estilos do rodapé */
.footer {
  position: absolute;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg, #4a148c, #7b1fa2);
  color: #fff;
  padding: 1px 0;
  text-align: center;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  max-width: 300px;
  margin-bottom: 20px;
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #f39c12;
}

/* Estilos da coluna "Redes Sociais" */
.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 24px;
}

/* Adicione o ícone da Font Awesome para cada rede social */
.social-icons .fab {
  transition: color 0.3s ease;
}

.social-icons .fab:hover {
  color: #f39c12;
}

.payment-column {
  flex: 1;
  max-width: 300px;
  margin-bottom: 20px;
}

.payment-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.payment-icons li {
  margin-right: 10px;
}

.payment-icons img {
  max-height: 50px;
}

/* Estilos da coluna "Pagamento" */
.payment-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.payment-icons li {
  margin-right: 10px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    margin: 20px 0;
  }

  .navigation {
    margin-top: 20px;
  }

  .newsletter form {
    width: 100%;
  }

  .footer-columns {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    max-width: 100%;
  }
}

/* Estilos para o menu lateral do carrinho */
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 400px; /* Defina a largura do menu conforme necessário */
  height: 100%;
  background: linear-gradient(90deg, #5f27cd, #341f97);
  color: #fff;
  padding: 20px;
  z-index: 999;
  transition: right 0.3s ease-in-out;
}


/* Defina um novo estilo para o menu quando estiver aberto */
.cart-sidebar.open {
  right: 0; /* Deslocamento para a direita quando o menu estiver aberto */
}

.cart-sidebar h3 {
  margin-bottom: 10px;
  color: #333; /* Cor do texto atualizada */
}

.cart-sidebar ul {
  list-style: none;
  padding: 0;
}

.cart-sidebar li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.cart-sidebar button {
  margin-top: 20px;
  background-color: #f39c12; /* Cor de fundo atualizada */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cart-sidebar button:hover {
  background-color: #e67e22; /* Cor de fundo alterada no hover */
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de elevação */
}

/* Estilos dos ícones do carrinho */
.cart-icon {
  font-size: 24px;
  color: #f39c12; /* Cor do ícone do carrinho */
  margin-right: 10px;
}

/* Estilos para o botão de fechar o menu */
.close-menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff; /* Cor do ícone do botão de fechar igual ao cabeçalho principal */
  cursor: pointer;
}

.close-menu-btn:hover {
  color: #f39c12; /* Cor do ícone do botão de fechar no hover igual ao cabeçalho principal */
}

/* Adicione o ícone do carrinho (Font Awesome) ao botão de fechar */
.close-menu-btn::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free"; /* Fonte do ícone */
  font-weight: 900;
}

/* Estilos responsivos (mantendo os estilos anteriores) */
@media screen and (max-width: 768px) {
  /* ... Estilos para dispositivos menores ... */
}

/* ... Outros estilos ... */

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-buttons button {
  flex: 1;
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #5f27cd; /* Cor de fundo igual ao botão do cabeçalho principal */
  color: #fff; /* Cor do texto igual ao botão do cabeçalho principal */
}

/* Estilo para o botão "Confirmar" */
.cart-buttons button.confirm-btn {
  background-color: #5f27cd; /* Cor roxa mais escura */
  color: #fff;
}

/* Estilo para o botão "Adicionar mais item" */
.cart-buttons button.add-more-btn {
  background-color: #341f97; /* Cor roxa mais escura */
  color: #fff;
}

/* Estilize o botão "Confirmar" ao passar o mouse */
.cart-buttons button.confirm-btn:hover {
  background-color: #512da8; /* Cor roxa mais escura no hover */
}

/* Estilize o botão "Adicionar mais item" ao passar o mouse */
.cart-buttons button.add-more-btn:hover {
  background-color: #512da8; /* Cor roxa mais escura no hover */
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 300px;
  height: 100%;
  background: linear-gradient(90deg, #5f27cd, #341f97);
  color: #fff;
  padding: 20px;
  z-index: 999;
  transition: right 0.3s ease-in-out;
}

.cart-sidebar.open {
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.close-menu-btn {
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-menu-btn::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.close-menu-btn:hover {
  color: #333;
}

/* Estilos dos ícones do carrinho no cabeçalho do menu lateral */
.cart-icon {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}

/* Estilizando a div que contém o seletor de tamanho */
.product-size {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Estilizando o rótulo "Tamanho" */
  .product-size label {
    font-size: 16px;
    margin-right: 10px;
    color: #f7f7f7;
  }
  
  /* Estilizando o seletor de tamanho */
  .product-size select {
    appearance: none; /* Removendo a aparência padrão do seletor */
    background-color: #fff;
    border: 2px solid #ccc;
    color: #333;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  /* Estilizando o seletor de tamanho quando o usuário passa o mouse sobre ele */
  .product-size select:hover {
    border-color: #f39c12;
  }
  
  /* Estilizando o seletor de tamanho quando está focado */
  .product-size select:focus {
    border-color: #5f27cd;
    outline: none;
  }
  
  /* Estilizando as opções dentro do seletor de tamanho */
  .product-size select option {
    color: #333;
  }
  
  /* Estilizando a seta do seletor de tamanho */
  /* Este estilo pode variar dependendo do navegador */
  .product-size select::-ms-expand {
    display: none;
  }
  
  /* Estilizando o ícone da seta para baixo (usando Font Awesome como exemplo) */
  .product-size select::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Estilizando o ícone da seta para baixo quando o seletor está aberto */
  .product-size select[open]::after {
    content: "\f106";
  }
  
  /* Estilizando o seletor de tamanho quando o mouse está sobre o rótulo */
  .product-size:hover select {
    border-color: #f39c12;
  }

/* Estilos para o botão "Voltar ao Topo" */
.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(90deg, #5f27cd, #341f97);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.scroll-to-top-btn i {
  transform: rotate(-45deg);
}

.scroll-to-top-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.scroll-to-top-btn.active {
  opacity: 1;
  transform: translateX(0);
}
/* ... Outros estilos ... */
  